.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.055;
  margin: 0;
  padding: 0;
  max-width: 460px;
}

@media screen and (max-width: 920px) {
  .place__title {
    font-size: calc(100vw / 18.285);
    line-height: 1.09;
  }
}

@media screen and (max-width: 620px) {
  .place__title {
    margin: 0 16px;
  }
}

@media screen and (max-width: 560px) {
  .place__title {
    font-size: 32px;
  }
}
