.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 92px;
}

@media screen and (max-width: 780px) {
  .places {
    margin-bottom: 89px;
  }
}

@media screen and (max-width: 560px) {
  .places {
    align-items: normal;
    margin-bottom: 64px;
  }
}