.place__link {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: 0.5s ease-out opacity;
}

.place__link:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (hover: none) {
  .place__link:hover {
    opacity: 1;
  }
}