.cover__image {
  max-width: 100%;
  min-width: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 10px;
  display: block;
  padding-bottom: 62.5%;
  grid-column: -1 / 1;
  grid-row: -1 / 1;
  background-image: url('../../../images/cover-route-66.jpg');
}
