.cover__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 1s ease-out background-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
  cursor: pointer;
}

@media (hover: none) {
  .cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0);
  }
}