.narrower {
  margin: 0 100px;
}

@media screen and (max-width: 1024px) {
  .narrower {
    margin: 0 48px;
  }
}

@media screen and (max-width: 793px) {
  .narrower {
    margin: 0 24px;
  }
}

@media screen and (max-width: 550px) {
  .narrower {
    margin: 0 16px;
  }
}
